<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ApiAutomationSuite" parallel="methods" thread-count="2">
    <parameter name="baseUrl" value="https://reqres.in"/>
    <parameter name="apiKey" value="reqres-free-v1"/>

    <test name="User API Tests">
        <classes>
            <class name="apiauto.APITest"/>
        </classes>
    </test>
</suite>